#--------------------------------------------------#
# The following was generated with gitignore.nvim: #
#--------------------------------------------------#
# Gitignore for the following technologies: react

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*
.nvim
.vim
.idea
.vscode

package-lock.json
yarn.lock

psd
thumb
sketch
